<div class="form-wrapper">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :date_of_birth %><br />
      <%= f.date_field :date_of_birth, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, required: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", required: true, placeholder: @validatable ? "#{@minimum_password_length} characters minimum" : "" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
    </div>

    <div class="field">
      <%= f.label :street_address %>
      <%= f.text_field :street_address, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :locality %>(City)
      <%= f.text_field :locality, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :region %>(2-letter State abbreviation)
      <%= f.text_field :region, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :account_number %>
      <%= f.text_field :account_number, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :routing_number %>
      <%= f.text_field :routing_number, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "button" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
