<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>ID&nbsp&nbsp&nbsp</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %>&nbsp</td>
        <td><%= link_to 'Show', user %>&nbsp</td>
        <td><%= link_to 'Edit', edit_user_registration_path(user) if user_signed_in? && (current_user.id == user.id)%>
          &nbsp</td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? && (current_user.id == user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!--<%= link_to 'New User', new_user_path %>-->
<%= link_to 'New User', new_user_registration_path %>
