<h1><%= @user.email.split('@').first %>'s products</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Deposit</th>
      <th>Classification</th>
      <th>Rented</th>
      <% if user_signed_in? && (current_user.id == @user.id) %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, product, 'data-no-turbolink' => true %></td>
        <td><%= product.price %></td>
        <td><%= product.deposit %></td>
        <td><%= product.classification %></td>
        <td><%= product.rented %></td>
        <% if user_signed_in? && (current_user.id == @user.id) %>
          <td>
            <%= link_to 'Edit', edit_product_path(product), 'data-no-turbolink' => true %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_registration_path(@user), class: "button", id: "edit" if user_signed_in? && (current_user.id == @user.id) %>

