<h1><%= @user.email.split('@').first %>'s products</h1>
<table>
  <thead>
    <tr>
      <th>ID &nbsp&nbsp&nbsp</th>
      <th>Name &nbsp&nbsp&nbsp</th>
      <th>Price &nbsp&nbsp&nbsp</th>
      <th>Deposit &nbsp&nbsp&nbsp</th>
      <th>Classification &nbsp&nbsp&nbsp</th>
      <th>Rented &nbsp&nbsp&nbsp</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.deposit %></td>
        <td><%= product.classification %></td>
        <td><%= product.rented %></td>
        <td><%= link_to 'Show', product %>&nbsp&nbsp&nbsp</td>
        <td><%= link_to 'Edit', edit_product_path(product)  if user_signed_in? && (current_user.id == @user.id) %></td>
        <!-- delete -->
      </tr>
    <% end %>
  </tbody>
</table>

<!--
<%= link_to 'Edit', edit_user_registration_path(@user)  if user_signed_in? && (current_user.id == @user.id) %>
-->
