<div class="depot_form">
  <h2>Your Order</h2>
  <table>
    <% @cart.line_items.each do |item| %>
        <tr>
          <th>Item</th>
          <th>Price/Day</th>
          <th>Rental Duration</th>
        </tr>
        <tr>
          <td><%= item.product.name %></td>
          <td class="item_price"><%= number_to_currency(item.product.price) %></td>
          <td><%= item.duration %></td>
        </tr>
    <% end %>

    <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
    </tr>
  </table>
  <br>
  <fieldset>
    <legend>Please Enter Your Details</legend>
    <%= render 'form' %>
  </fieldset>
</div>
