<div class="depot_form">
  <h2>Your Order</h2>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Price / Day</th>
        <th>Security Deposit</th>
        <th>Rental Duration (Day)</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.line_items.each do |item| %>
          <tr>
            <td><%= item.product.name %></td>
            <td class="item_price"><%= number_to_currency(item.product.price) %></td>
            <td class="item_deposit"><%= number_to_currency(item.product.deposit) %></td>
            <td class="duration-length"><%= item.duration %></td>
          </tr>
      <% end %>
    </tbody>
  </table>

  <h3 class="total-header">
    Total: <span class="total"><%= number_to_currency(@cart.total_price) %></span>
  </h3>

  <fieldset>
    <legend>Please Enter Your Billing Details</legend>
    <%= render 'form' %>
  </fieldset>
</div>
