<h2>Your Cart</h2>
<table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Price per Day</th>
        <th>Rental Duration (Days)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart.line_items.each do |item| %>
          <tr class="line-item">
            <td>
              <%= item.product.name %>
            </td>
            <td class="price-per-day" data-price="<%= item.product.price %>">
              <%= number_to_currency(item.product.price) %>
            </td>
            <td>
              <input type="number" value="1" min="1" class="rental-days">
            </td>
            <td>
              <%= button_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "button button-danger-link" %>
            </td>
          </tr>
      <% end %>
    </tbody>
</table>

<h3 class="total-header">
  Total: <span class="total"><%= number_to_currency(@cart.total_price) %></span>
</h3>

<div class="form-wrapper">
  <%= button_to 'Checkout', new_order_path, method: :get, class: "button" %>
  <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?'}, class: "button button-danger" %>
  <%= link_to "Continue shopping", products_url %>
</div>
