<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :required => true %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price, :required => true %>
  </div>
  <div class="field">
    <%= f.label :deposit %><br>
    <%= f.text_field :deposit, :required => true %>
  </div>
  <div class="field">
    <%= f.label "Type" %><br>
    <%= f.select :classification,
        options_for_select(["guitar", "bass", "keyboard", "violin",
                    "accessory", "speaker", "combo amplifier",
                    "amplifier cabinet", "amplifier head", "cable", "mic"])
    %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, :required => true %>
  </div>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lon %>
  <div class="actions">
    <%= f.submit %>
  </div>

  <!-- TODO: style properly -->
  <div id="map-canvas" style="width: 500px; height: 500px; margin: auto"></div>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC0VbV2Pcv6qPNDZAS5onMDz9qJZtwUJz4" %>
  <script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see a blank space instead of the map, this
    // is probably because you have denied permission for location sharing.

    // TODO: allow for choosing location

    var map;

    function initialize() {
      var mapOptions = {
        zoom: 14
      };
      map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

      // Try HTML5 geolocation
      if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = new google.maps.LatLng(position.coords.latitude,
                                           position.coords.longitude);

          var infowindow = new google.maps.InfoWindow({
            map: map,
            position: pos,
            content: 'Location found using HTML5.'
          });

          map.setCenter(pos);

          // setting location
          document.getElementById('product_lat').value = pos.lat();
          document.getElementById('product_lng').value = pos.lng();
        }, function() {
          handleNoGeolocation(true);
        });
      } else {
        // Browser doesn't support Geolocation
        handleNoGeolocation(false);
      }
    }

    function handleNoGeolocation(errorFlag) {
      if (errorFlag) {
        var content = 'Error: The Geolocation service failed.';
      } else {
        var content = 'Error: Your browser doesn\'t support geolocation.';
      }

      var options = {
        map: map,
        position: new google.maps.LatLng(60, 105),
        content: content
      };

      var infowindow = new google.maps.InfoWindow(options);
      map.setCenter(options.position);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    google.maps.event.addDomListener(window, 'page:load', initialize);
  </script>
<% end %>
