<div class="product-action">
  <!-- search, create new products -->
  <!-- TODO: fix -->
  <button class="button">
    <%= link_to 'New Product', new_product_path, 'data-no-turbolink' => true %>
  </button>
  <%= form_tag(products_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :keyword, params[:keyword], placeholder: "Search Products" %>
    <%= select_tag :classification,
        options_for_select([["Filter by...", ""], "guitar", "bass", "keyboard",
                            "violin", "accessory", "speaker",
                            "combo amplifier", "amplifier cabinet",
                            "amplifier head", "cable", "mic"],
                            selected: params[:classification] ? params[:classification] : "Filter by...")
    %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<% @products.each do |product| %>
  <div class="product">
    <div class="container-img">
      <%= link_to (image_tag product.image.url), product_path(product.id), 'data-no-turbolink' => true %>
    </div>
    <h3><strong><%= link_to product.name, product_path(product.id), 'data-no-turbolink' => true %></strong></a>
    <h3>$<%= "#{'%.02f' % product.price}" %>/day</h3>
    <h4><em><%= product.classification.capitalize! %></em></h4>
    <%= button_to 'Add to Cart', line_items_path(product_id: product), class: "button" %>
  </div>
<% end %>

<%= will_paginate @products %>
