<p id="notice"><%= notice %></p>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<%= render 'layouts/header' %>

<h1>Listings</h1>

  <% @products.in_groups_of(4, false) do |group| %>
    <div class="row">
      <% group.each do |product| %>
        <div class="col-md-3">
          <a href="/products/<%= product.id %>">
            <img src="<%= product.image_url %>" alt="product listing" class="img-responsive img-thumbnail center-block">
          </a>
          <h3><strong><a href="/products/<%= product.id %>"><%= product.name %></a></strong></h3>
          <h3>$<%= "#{'%.02f' % product.price}" %>/day</h3>
          <h4><em><%= product.classification %></em></h4>
          <p><%= product.description[0...99] %><a href="/products/<%= product.id %>">...</a></p>
        </div>
      <% end %>
    </div>
    <br>
  <% end %>

<br>
</body>

<%= link_to 'New Product', new_product_path %>
