<!DOCTYPE html>
<html>
<head>
  <title>Arpeggio</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'responsive', media: 'all', 'data-turbolinks-track' => true %>
  <%= jquery_include_tag :google %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <%= csrf_meta_tags %>
  <!-- for page specific head tags -->
  <%= yield :head %>
</head>
<body>
<div class="nav">
    <div class="logo">
        <a href="/">Arpeggio</a>
    </div>
    <div class="user-action">
        <% if user_signed_in? %>
          <%= link_to 'My account', current_user %>
          <% unless current_cart.line_items.empty? %>
            <%= link_to "My cart (#{current_cart.line_items.count})", current_cart %>
          <% end %>
          <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
    </div>
</div>
<div class="container">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
